/* Basic Elemental Styling */

body {
    font-family: Montserrat, sans-serif;
}

h1 {
    font-weight: 300;
    margin-bottom: 10px;
}

h2 {
    font-weight: 200;
    margin-top: 10px;
}

/* Container Class */

.container {
    position: relative;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    text-align: center;
}